/* Font Import stuff */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

/* Page setup */

body, html{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

/* Change global tag properties */

/*H3 Is the tag under the vehicle */
h3{
  margin: 0 5px 0 5px;
  padding: 0;
  font-weight: normal;
  font-family: "Open Sans",sans-serif;
}

/*H4 takes the form of a subtitle/quote */
h4{
  font-family: "Satisfy",cursive;
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* h4 is slider header -----------------------------------------*/
h5{
  margin: 0;
  padding: 0;
}

h5 var{
  float: right;
}

/* h6 is footer subtitles */

h6{
  all:initial;
  text-shadow: 0 0 1px grey;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  color: grey;
  font-weight: 300;
}

/* Global Classes -----------------------------------------*/
.flex1{
  flex: 1;
  width: 100%;
}

.vAlign{
  margin: auto 0 auto 0;
}

.wAlign{
  margin: 0 auto 0 auto;
  text-align: center;
}

.boxed{
  border: 3px solid black;
  padding: 3px;
}

.bMargin{
  margin: 0 0 5px 0;
}

.h100{
  height: 100%;
}

.w100{
  width: 100%;
}

.inblock{
  display: inline-block;
}

.gMargin{
  margin: 10%;
}

/*Slider settings and appearance */
.slider{
  -webkit-appearance: none;
  background: #9f9f9f;
  transition: opacity .2s;
  border: 2px solid #8f8f8f;
  padding: 2px;
}

.slider::-webkit-slider-thumb {
  opacity: 1;
  -webkit-appearance: none; /* Override default look */
  width: 15px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid grey;
}

.slider:hover{
  background: #8f8f8f;
  border: 2px solid black;
}

/* table setup*/

.tg {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.tg .tc{
    color: white;
    background: black;
    font-weight:100;
    text-align: center;
}

    .tg .tc2 {
        color: black;
        font-size: 16px;
        font-weight: 100;
        border: 1px solid black;
        text-align: center;
    }

/* ID ----------------------------------------- */

#Container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Map */
#Map{
    width:100%;
    border:0;
    margin-top: 20px;
}

/*Contact form*/

#ExitBox{
  display: none;
  background: black;
  opacity: .3;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#OpenForm{
  cursor: pointer;
}

#ContactForm{
  opacity: 0;
  background: white;
  border: 2px solid black;
  box-shadow: 0 0 100px black;
  height: 420px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition-duration: .5s;
}
 class="vAlign"
#ContactForm h1{
  font-family: "Open Sans";
  margin: 20px auto 20px auto;
}

#ContactForm p{
  cursor: pointer;
  font-size: 20px;
  right: 30px;
  position: absolute;
  font-weight: bold;
}

#ContactForm input,textarea,button{
  resize: none;
  border: 2px solid grey;
  padding: 5px;
  margin: 5px 15% 5px 15%;
}

#ContactForm button:hover{
  background: grey;
  border: 2px solid black;
}


/* Header */

header{
  display: flex;
  flex-direction: row;
  height: 100px;
  box-shadow: 0 0 15px black;
  z-index: 99; /* stays on top */
  background: white;
  overflow: hidden;
}

header span{
  display: flex;.
}

header span img{
  display: block;
  max-width:200px;
  max-height: 80px;
  width: auto;
  height: auto;
  margin: 10px;
}

header span h1{
  font-family: "Open Sans",sans-serif;
  margin: auto 0 auto 10px;
  border: 5px solid black;
  padding: 4px;
  line-height: 27px;
}

/* main */
main{
  display: flex;
  flex-flow: row;
  flex: 1;
}

/* aside */

main aside{
  padding:2px;
  z-index: 1;
  flex:0;
  width: 200px;
  float: left;
  box-shadow: 0 0 10px black;
  background: white;
}

main aside span{
  display: flex;
  flex-direction: column;
}

/* modify p in aside */

aside p{
  font-family: "Open Sans",sans-serif;
  line-height: 15px;
}

/* main content */

main article{
  display: flex;
  flex-flow: column;

}

article span{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  overflow-y: auto;
  max-height: 86.8vh;
}

/* Car cases */
    article span div {
        width: 215px;
        border: 3px solid black;
        background: #bebebe;
        margin: 10px;
        float: left;
    }

/* Car image */
article span img {
    box-shadow: 0 5px 10px black;
    width: 100%;
    object-fit:cover;
    height: 170px;
    }

article footer{
  background: blue;
}

/* Car price */
main article span var{
  float: right;
  display: inline-block;
  color black;
  font-family: "Open Sans";
  font-style: normal;
}

/* Footer stuff */

footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 2;
  border: 2px solid #737373;
}



    /* responsive */
@media all and (max-width: 643px) {
    article span{
        justify-content: center;
    }
}
